# üöò Analyzing SF traffic stops with `R`: Part 3

<img src="https://github.com/joshuagrossman/dsb-win-2023/blob/main/opp-munging-plotting/img/sf-traffic-3.jpg?raw=1" alt="traffic" width="400" align="left"/>

This is Part 3. Other parts can be found [here](https://www.jdgrossman.com).

## Introduction

In this series of tutorials, we'll use `R` to explore traffic stops in San Francisco (SF). In particular, we'll investigate whether there is evidence of racial discrimination in SF's policing practices.

> **Important note**: Policing can be a sensitive subject. It's important to remember that each row in our data represents a real interaction between a police officer and driver. Please keep this in mind as you work through the tutorial, and be sure to engage with the material to the extent you're comfortable.

By the end of the tutorials, you'll have foundational understanding of the following:
1. üìä How to use `R` to explore tabular data and calculate descriptive statistics.
2. üìà How to make an informative plot with `R`
2. ‚öñÔ∏è How to approach questions about social policy with data.

Let's get started!

## ‚úÖ Set up

While the core `R` language contains many useful functions (e.g., `sum` and `sample`), there is vast functionality built on top of `R` by community members.

Make sure to run the cell below. It imports additional useful functions, adjusts `R` settings, and loads in data.

In [1]:
# Load in additional functions
library(tidyverse)
library(lubridate)

# Use three digits past the decimal point
options(digits = 3)

# This makes our plots look nice!
theme_set(theme_bw())

# This is where the data is stored.
STOPS_PATH = "https://github.com/joshuagrossman/dsb-win-2023/raw/main/opp-munging-plotting/data/sf_stop_data.rds"
POP_PATH = "https://github.com/joshuagrossman/dsb-win-2023/raw/main/opp-munging-plotting/data/sf_pop_2015.rds"

# Read in the data
stops <- read_rds(STOPS_PATH)
pop_2015 <- read_rds(POP_PATH)

# Data modifications from Part 1 and
# additional modification for learning purposes.
stops_w_yr = stops %>%
  mutate(
    yr = year(date)
  )

pop_2015 = pop_2015 %>%
  mutate(prop_residents = n_people/sum(n_people))

‚îÄ‚îÄ Attaching core tidyverse packages ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidyverse 2.0.0 ‚îÄ‚îÄ
‚úî dplyr     1.1.4     ‚úî readr     2.1.5
‚úî forcats   1.0.0     ‚úî stringr   1.5.1
‚úî ggplot2   3.5.2     ‚úî tibble    3.3.0
‚úî lubridate 1.9.4     ‚úî tidyr     1.3.1
‚úî purrr     1.0.4
‚îÄ‚îÄ Conflicts ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidyverse_conflicts() ‚îÄ‚îÄ
‚úñ dplyr::filter() masks stats::filter()
‚úñ dplyr::lag()    masks stats::lag()
‚Ñπ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## üìù Interpreting racial disparities

In Part 1, we counted the number of stops among drivers each race and ethnicity group for the year 2015.

In [2]:
stops_2015 = stops_w_yr %>%
  filter(yr==2015)

# Note that this code is the same as count(stops_2015, race)
stops_2015 %>%
  group_by(race) %>%
  summarize(n = n()) %>%
  ungroup()

  race                   n
1 asian/pacific islander 15498
2 black                  14955
3 hispanic               11911
4 other                  13560
5 white                  29765

In [13]:
head(stops_2015)

  date       time     location                  lat  lng  district age race
1 2015-01-01 01:00:00 3RD ST. & MCKNINNON AVE.  37.7 -122 C        23  black
2 2015-01-01 01:00:00 MISSION/EUGENIA           37.7 -122 H        30  hispanic
3 2015-01-01 01:00:00 MISSION ST & VFALENCIA ST 37.7 -122 H        35  white
4 2015-01-01 01:00:00 EDDY / GOUGH              37.8 -122 E        44  white
5 2015-01-01 01:00:00 24TH/TARAVAL              37.7 -122 I        60  white
6 2015-01-01 10:46:00 307 CORTLAND AVE.         37.7 -122 H        45  white
  gender arrested contraband_found searched reason_for_stop  yr
1 male   FALSE    NA               FALSE    Moving violation 2015
2 female FALSE    NA               FALSE    Moving violation 2015
3 male   FALSE    NA               FALSE    Moving violation 2015
4 male   FALSE    NA               FALSE    Moving violation 2015
5 male   FALSE    NA               FALSE    MPC violation    2015
6 female FALSE    NA               FALSE    Moving violation 2015

For ease of interpretation, we can add a column with the proportion of all stops that occurred among drivers of each race group:

In [3]:
stop_counts = stops_2015 %>%

  # generate the counts by race, same as above
  group_by(race) %>%
  summarize(
    n = n()
  ) %>%
  ungroup() %>%

  # add proportion column
  mutate(
    prop_stops = n/sum(n)
  )

stop_counts

  race                   n     prop_stops
1 asian/pacific islander 15498 0.181
2 black                  14955 0.175
3 hispanic               11911 0.139
4 other                  13560 0.158
5 white                  29765 0.347

### üí¨ Discussion

What can we conclude from the table above?

What are the limitations of this table?

Is there information that could make this table more informative?

### üëâ Double click  here  to write your thoughts. üëà
\

## üìù Incorporating additional data

With the data above, we can claim that most stops in San Francisco in 2015 occurred among white drivers, followed by Asian/Pacific Islander drivers, Black drivers, drivers of an unlisted race/ethnicity, and Hispanic drivers.

However, without knowing the demographics of drivers in San Francisco, we can't say anything about racial disparities in stop rates.

> For example, if 20% of drivers in San Francisco were white, and 35% of stops were among white drivers, we might claim that white drivers were stopped more frequently than expected.

Fortunately, the demographics of San Francisco residents in 2015 are provided in the `pop_2015` data:

In [4]:
pop_2015

  race                   n_people prop_residents
1 white                  346732   0.4124
2 black                   44879   0.0534
3 hispanic               128619   0.1530
4 asian/pacific islander 285266   0.3393
5 other                   35267   0.0419

With the table above, we have more context!

For example, while 5% of San Francisco identifies as Black, nearly 21% of stops occurred among Black drivers.

### üí¨ Discussion

Using only the data above, can we claim that Black drivers in SF were stopped on the basis of less evidence than drivers of other race groups? Do your conclusions depend on any assumptions?

### üëâ Double click here to write your thoughts. üëà
\

## üìù Merging data

Suppose we are interested in the ratio of the stop rate for each race/ethnicity group and the fraction of residents from each race/ethnicity group.

We could do this by hand, but it's a little tedious. We can copy directly from the tables we generated above.

In [5]:
print('Asian/Pacific Islander drivers: stop rate / pop. rate:')
0.181/0.3393

print('Black drivers: stop rate / pop. rate:')
0.175/0.0534

print('Hispanic drivers: stop rate / pop. rate:')
0.139/0.1530

print('White drivers: stop rate / pop. rate:')
0.347/0.4124

print('Drivers of other race/ethnicity: stop rate / pop.rate:')
0.158/0.0419

[1] "Asian/Pacific Islander drivers: stop rate / pop. rate:"

[1] 0.533

[1] "Black drivers: stop rate / pop. rate:"

[1] 3.28

[1] "Hispanic drivers: stop rate / pop. rate:"

[1] 0.908

[1] "White drivers: stop rate / pop. rate:"

[1] 0.841

[1] "Drivers of other race/ethnicity: stop rate / pop.rate:"

[1] 3.77

From the stats above, we can see that Black drivers were stopped about 3.3 times more often than we might expect from the ratio of the SF population that identifies as Black.

It would be a lot faster to calculate these stats if we had the stop rates and pop. rates in one table!

### üßë‚Äçü§ù‚Äçüßë Joining data with shared columns

Imagine writing our two tables side by side. Here's a (very bad!!) way to do it:

In [6]:
# Reminder: this is generally NOT a good thing to do to merge data.
# We're doing this just for the visual!
bind_cols(stop_counts, pop_2015)

New names:
‚Ä¢ `race` -> `race...1`
‚Ä¢ `race` -> `race...4`

  race...1               n     prop_stops race...4               n_people
1 asian/pacific islander 15498 0.181      white                  346732
2 black                  14955 0.175      black                   44879
3 hispanic               11911 0.139      hispanic               128619
4 other                  13560 0.158      asian/pacific islander 285266
5 white                  29765 0.347      other                   35267
  prop_residents
1 0.4124
2 0.0534
3 0.1530
4 0.3393
5 0.0419

‚òùÔ∏è There's a big problem with the table above: the race columns are not aligned!

> For example, Asian/Pacific Islander driver stop rates are next to white driver pop. rates. This is not good!

Better idea: what if we could combine each row of our tables by making sure the value in the race column is the same in each row?

Here's how to do it.

In [7]:
combined_data = left_join(stop_counts, pop_2015, by='race')

combined_data

  race                   n     prop_stops n_people prop_residents
1 asian/pacific islander 15498 0.181      285266   0.3393
2 black                  14955 0.175       44879   0.0534
3 hispanic               11911 0.139      128619   0.1530
4 other                  13560 0.158       35267   0.0419
5 white                  29765 0.347      346732   0.4124

The next section will break down this code.

### üí´ The magic of `left_join`

`left_join()` only needs three things from you:
1. What's the first table?
2. What's the second table?
3. Which column should match?

üñ•Ô∏è Usage: `left_join(table1, table2, by='column_name')`
* `table1`: the first table (i.e., 'left table')
* `table2`: the second table (i.e., 'right table')
* `column_name`: the name of the column to match

But, we've left one question unanswered: why `left_join()` and not just `join()`?

Here's a visual explanation.

> Note: `NA` indicates a missing value that is "not available".

<img src="https://github.com/joshuagrossman/dsb-win-2023/blob/main/opp-munging-plotting/img/left_join_updated.png?raw=1" alt="inner join" width="400" align="left"/>

`left_join()` always returns every row in the **left** table.

- However, `left_join()` only includes rows from the **right** table that can be matched to rows in the **left** table.

- The matched column is often referred to as the "join key". That's why it's named `key` in the picture.

- Unmatched rows from the **right** table are dropped.

Here's the picture in code form. Play around with the code to get a feel for `left_join()`!

In [8]:
table1 = tibble(
    val_x = c('x1', 'x2', 'x3'),
    key = c(1, 2, 3)
)

table2 = tibble(
    val_y = c('y1', 'y2', 'y3'),
    key = c(1, 2, 4)
)

table1
table2
left_join(table1, table2, by='key')

  val_x key
1 x1    1
2 x2    2
3 x3    3

  val_y key
1 y1    1
2 y2    2
3 y3    4

  val_x key val_y
1 x1    1   y1
2 x2    2   y2
3 x3    3   NA

### üôÄ `right_join()`, `inner_join()`, `anti_join()`, [oh my](https://www.youtube.com/watch?v=-HrfbV16-FQ)!

There are actually a few more joining functions. But, **you only need left join for >99% of data science work**.

#### üöÄ Mini-exercise

Run the three joining functions in the cell below.

> The arguments of `right_join()`, `inner_join()`, and `anti_join()` are the same as `left_join()` above.

What do these three new joining functions do?

In [10]:
table1 = tibble(
    val_x = c('x1', 'x2', 'x3'),
    key = c(1, 2, 3)
)

table2 = tibble(
    val_y = c('y1', 'y2', 'y3'),
    key = c(1, 2, 4)
)

# Your code here!
right_join(table1, table2, by='key')
inner_join(table1, table2, by='key')

  val_x key val_y
1 x1    1   y1
2 x2    2   y2
3 NA    4   y3

  val_x key val_y
1 x1    1   y1
2 x2    2   y2

## üöÄ Exercise: Putting it all together

In this exercise, you may find it helpful to refer to code from Parts 1 and 2. You can find the solutions to Parts 1 and 2 [here](https://www.jdgrossman.com).

#### Part A

Calculate the proportion of all stops, searches, and contraband detections that occurred for SF drivers of each race and ethnicity group in 2015.

What do you conclude from your findings? How could someone use these results to mislead their audience?

In [16]:
# Your code here!

## GOAL: Stops, Searched, and Contraband detected  for sf drivers  (PROPORTIONS)
head(pop_2015) #  race, num ppl, prop of res.

# As a reminder, here's how we did this for stops:
stop_counts = stops_2015 %>%
  group_by(race) %>%
  summarize(n = n()) %>%
  ungroup()

# using props from pt. 1
stops_2015 %>%
  group_by(race) %>%
    summarize(
      n_stops = n(),
      num_searches = sum(searched, na.rm = TRUE),
      prop_search_from_stop = num_searches /n_stops,
      num_contraband = sum(contraband_found, na.rm = TRUE),
      prop_contrab = num_contraband / n_stops
    )

  race                   n_people prop_residents
1 white                  346732   0.4124
2 black                   44879   0.0534
3 hispanic               128619   0.1530
4 asian/pacific islander 285266   0.3393
5 other                   35267   0.0419

  race                   n_stops num_searches prop_search_from_stop
1 asian/pacific islander 15498    194         0.0125
2 black                  14955   2341         0.1565
3 hispanic               11911    760         0.0638
4 other                  13560    233         0.0172
5 white                  29765    659         0.0221
  num_contraband prop_contrab
1  73            0.00471
2 306            0.02046
3 144            0.01209
4  50            0.00369
5 195            0.00655

##### we see that black and hispanic populations have the highest rates per of searches and contraband found from searches despite not having the highest amount of stops
##### can be misleading in sending a message that these groups are more dangerous because from these statistics they have higher rights/possibility of contraband in possesion

#### Part B

For each race and ethnicity group, calculate the ratio of stop rates, search rates, and contraband detection rates to the population rate for 2015.

What do you conclude from your findings? How could someone use these results to mislead their audience?

In [ ]:
# Your code here!

#### Part C

First, filter the `stops` data to drivers who identify as Black.

Second, for Black drivers in each district, calculate the fraction of stops that resulted in a search (the "search rate"). Store your result in a dataframe.

Repeat the first two steps for all race/ethnicity groups in the data.

In [ ]:
# Your code here!

‚ùó‚ùóImportant note‚ùó‚ùó: You are encouraged to repeat Parts D, E, and F using different pairs of race/ethnicity groups.

#### Part D

For each district, calculate the difference in search rates of Black drivers and white drivers.

> This will require you to merge the two dataframes that you created in Part C.

What do you conclude from your findings? How could you present this result concisely to a non-technical audience?

In [ ]:
# Your code here!

#### Part E

Using your merged data from Part D, create a plot with the following features:
- On the x-axis, plot the search rate for Black drivers.
- On the y-axis, plot the search rate for white drivers.
- Color the points by district
- Add (`+`) the following lines to your plotting code:

```
geom_abline(linetype = 'dashed') +
xlim(0, 0.5) +
ylim(0, 0.5)
```

What do you conclude from your findings?

In [ ]:
# Your code here!

#### Part F

Repeat Parts D and E, but instead of calculating search rates, calculate the proportion of **searches** (not stops) that resulted in contraband being found ("hit rate").

What do you conclude from your findings?

In [ ]:
# Your code here!

## Concluding remarks

In the final exercise of this tutorial, you conducted an **outcome test**.

> Figure 3 in [this paper](https://5harad.com/papers/100M-stops.pdf) shows the result of an outcome test applied to large-scale policing data.

Outcome tests can be used to detect potential discrimination not just in policing.
For example, think about how you might use an outcome test to detect discrimination in bank lending or hiring decisions.